@font-face {
	font-family: "M+ 1c";
	src: url("../fonts/mplus-1c-regular.woff2") format("woff2"), url("../fonts/mplus-1c-regular.woff") format("woff");
}

@font-face {
	font-family: "M+ 1m";
	src: url("../fonts/mplus-1m-regular.woff2") format("woff2"), url("../fonts/mplus-1m-regular.woff") format("woff");
}
