<!DOCTYPE html>
<html>
	<head>
		<title>Error</title>
		<link rel="stylesheet" href="/static/css/fonts.css">
	</head>
	<body style="min-height: 100vh; background-color: black; color: white; font: 300 12px 'M+ 1c'; display: flex; flex-direction: column; align-items: center; justify-content: center">
		<div style="width: 150px; height: 150px; background-image: url('/static/img/missingno.png'); background-size: contain; image-rendering: pixelated; image-rendering: -moz-crisp-edges"></div>
		<h1>{{ error.code }} {{ error.name }}</h1>
	</body>
</html>
